.chat_main

  .chat_main__group--info
    .chat_main__group--info_name_member
      .chat_main__group--info_name_member_name
        test group
        .chat_main__group--info_name_member_member
          test Member
    .chat_main__group--info_edit
      = link_to "#", class:"chat_main__group--info_edit_url" do
        Edit

  .chat_main__message--list
    .chat_main__message--list_name_date_message
      .chat_main__message--list_name_date_message_name_date
        .chat_main__message--list_name_date_message_name_date_name
          mitsuru
        .chat_main__message--list_name_date_message_name_date_date
          2020/04/06(Mon) 20:00:00
      .chat_main__message--list_name_date_message_message
        こんばんは！    
    .chat_main__message--list_name_date_message
      .chat_main__message--list_name_date_message_name_date
        .chat_main__message--list_name_date_message_name_date_name
          mitsuru
        .chat_main__message--list_name_date_message_name_date_date
          2020/04/06(Mon) 20:00:00
      .chat_main__message--list_name_date_message_message
        こんばんは！
    .chat_main__message--list_name_date_message
      .chat_main__message--list_name_date_message_name_date
        .chat_main__message--list_name_date_message_name_date_name
          mitsuru
        .chat_main__message--list_name_date_message_name_date_date
          2020/04/06(Mon) 20:00:00
      .chat_main__message--list_name_date_message_message
        こんばんは！

  .chat_main__message--form
    .chat_main__message--form_type_image
      .chat_main__message--form_type_image_type
        %input.chat_main__message--form_type_image_type_input{placeholder: "type a message", type: "text"}/
      .chat_main__message--form_type_image_image
        %label{class: "chat_main__message--form_type_image_image_label"}
          = icon('fas', 'image')
          %input{type: "file"}
    .chat_main__message--form_send
      Send
