.side_bar
  .side_bar__user_name
    .user_name__icon
      .user_name mitsuru
      .icon
        .icon_create_new
          %a{:href => "#"} 
            %i.far.fa-edit.marginleft
        .icon_edit
          %a{:href => "#"} 
            %i.fa.fa-cog
  .side_bar__group_list
    .groups
      .group
        .group_name
          techcamp
        .group_message
          まだメッセージがありません
      .group
        .group_name
          techcamp
        .group_message
          まだメッセージがありません