.side_bar

  .side_bar__user
    .side_bar__user--name_icon
      .side_bar__user--name_icon_name
        mitsuru
      .side_bar__user--name_icon_icon
        .side_bar__user--name_icon_icon_create
          %a{:href => "#"} 
            %i.far.fa-edit.marginleft
        .side_bar__user--name_icon_icon_edit
          %a{:href => "#"} 
            %i.fa.fa-cog

  .side_bar__group--list
    .side_bar__group--list_groups
      .side_bar__group--list_groups_group
        .side_bar__group--list_groups_group_name
          techcamp
        .side_bar__group--list_groups_group_message
          まだメッセージがありません
      .side_bar__group--list_groups_group
        .side_bar__group--list_groups_group_name
          techcamp
        .side_bar__group--list_groups_group_message
          まだメッセージがありません